.file-input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--secondary-background-color);
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  color: var(--text-color);
  cursor: pointer;
}

.file-input:focus {
  outline: none;
  border-color: var(--button-color);
}

.navigate-to-login {
  text-decoration: none;
  color: var(--button-color);
  margin-top: 1rem;
  font-size: 13px;
}

.navigate-to-login:hover {
  text-decoration: underline;
  transition: text-decoration 5s;
}
