.file-input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--secondary-background-color);
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  color: var(--text-color);
  cursor: pointer;
}

.file-input:focus {
  outline: none;
  border-color: var(--button-color);
}

.navigate-to-login {
  text-decoration: none;
  color: var(--text-color);
  margin-top: 1rem;
}

<<<<<<< HEAD
.login-nav a {
  color: var(--button-color);
  text-decoration: none;
  font-size: 0.875rem;
}

.login-nav a:hover {
=======
.navigate-to-login:hover {
>>>>>>> 47-authentication-implementation
  text-decoration: underline;
  transition: text-decoration 5s;
}
