.column {
  border-radius: 8px;
  background-color: var(--primary-background-color);
  animation: fadeInZoom 300ms ease-in-out forwards;
}

.column h3 {
  text-align: center;
  color: var(--modal-text-color);
}

.draggable-title {
  cursor: pointer;
  margin-top: 0;
}

/* Item Animation */
.draggable-item {
  animation: fadeInZoom 300ms ease-in-out forwards;
}

.draggable-title:hover {
  text-decoration: underline;
}

.decision-icon {
  cursor: pointer;
  justify-self: flex-end;
  height: 25px;
  width: 25px;
  color: var(--text-color);
}

.decision-container {
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.interview-column-dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: -25%;
  background-color: var(--secondary-background-color);
  border: 1px solid var(--text-color);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50%;
}

.interview-column-dropdown-menu li {
  list-style-type: none;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.interview-column-dropdown-menu li:hover {
  background-color: var(--primary-background-color);
  transition: 0.3s;
}

.dashboard-column-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-column-header-icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

/* Color for the difference icons */
.dashboard-column-header-icon.awaiting {
  color: #1e90ff;
}

.dashboard-column-header-icon.scheduled {
  color: orange;
}

.dashboard-column-header-icon.canceled {
  color: red;
}

.dashboard-column-header-icon.completed {
  color: green;
}

/* Animation */
@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
