header {
  display: flex;
  background-color: var(--primary-background-color);
  color: var(--header-text-color);
  justify-content: space-between; /* Space between the logo and profile image */
  align-items: center; /* Vertically center all items in the header */
  padding: 20px;
}

.profile-link {
  display: flex;
  justify-content: center; /* Horizontally center the profile image within the link */
  align-items: center; /* Vertically center the profile image */
  text-decoration: none; /* Remove default underline from Link */
  height: 60px; /* Ensure the link is vertically aligned with the header */
}

.profile-link img {
  display: block; /* Prevent any space below the image */
}

.notification-bell {
  position: relative;
  cursor: pointer;
  font-size: 24px;
  color: var(--text-color);
  margin-right: 20px;
}

.notification-bell .notification-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 8px;
}

.notification-dropdown-container {
  position: relative;
  display: inline-block;
}

.notification-dropdown-menu {
  position: absolute;
  top: 40px; /* Adjusted to move the box further down */
  right: 0;
  width: 250px; /* Adjusted width */
  border: 1px solid var(--text-color);
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  max-height: 300px; /* Set a maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  /* Scrollbar styling */
  scrollbar-width: thin;
  scrollbar-color: var(--text-color) var(--primary-background-color);
}
