.profile-dropdown-container {
  position: relative;
  display: inline-block;
}

.profile-dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
}

.profile-dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.profile-dropdown-item {
  display: block;
  padding: 10px;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

.profile-dropdown-item:hover {
  background-color: var(--primary-background-color);
}
