.column {
  border-radius: 8px;
  background-color: var(--primary-background-color);
}

.column h3 {
  text-align: center;
  color: var(--text-color);
}

.draggable-title {
  cursor: pointer;
  margin-top: 0;
}

.draggable-title:hover {
  text-decoration: underline;
}

.decision-container {
  display: flex;
  justify-content: flex-end;
}

.decision-icon {
  cursor: pointer;
  justify-self: flex-end;
  height: 25px;
  width: 25px;
  color: var(--text-color);
}

.dashboard-column-header-icon {
  height: 20px;
  width: 20px;
}

/* Color for the difference icons */
.dashboard-column-header-icon.awaiting {
  color: #1e90ff;
}

.dashboard-column-header-icon.scheduled {
  color: orange;
}

.dashboard-column-header-icon.canceled {
  color: red;
}

.dashboard-column-header-icon.completed {
  color: green;
}
