.column {
  border-radius: 8px;
  background-color: var(--primary-background-color);
}

.column h3 {
  text-align: center;
  color: var(--text-color);
}

.draggable-title {
  cursor: pointer;
  margin-top: 0;
}

.draggable-title:hover {
  text-decoration: underline;
}

.decision-container {
  display: flex;
  justify-content: flex-end;
}

.decision-icon {
  cursor: pointer;
  justify-self: flex-end;
  height: 25px;
  width: 25px;
  color: var(--text-color);
}
