.profile-container {
  max-width: 36rem;
  margin: 32px auto 0;
  padding: 0 16px;
}

.profile-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.image-upload-button {
  font-size: 14px;
  padding: 8px 16px;
  background-color: #4fd1c5;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.image-upload-button:hover {
  background-color: #38b2ac;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group label {
  color: var(--text-color);
}

.form-group input {
  width: 93%;
  padding: 12px;
  background-color: var(--secondary-background-color);
  border: 1px solid #1e3a5f;
  border-radius: 6px;
  color: var(--text-color);
  font-family: inherit;
}

.profile-form button {
  width: 100%;
  padding: 12px;
  background-color: var(--secondary-background-color);
  border: 1px solid #1e3a5f;
  border-radius: 6px;
  color: var(--text-color);
  font-family: inherit;
}

.profile-form button {
  background-color: #4fd1c5;
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.profile-form button:hover {
  background-color: var(--secondary-background-color);
}
