.notification-bell {
  position: relative;
  cursor: pointer;
  font-size: 24px;
  color: var(--text-color);
  margin-right: 20px;
}

.notification-bell .notification-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 10px;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 40px; /* Adjusted to move the box further down */
  right: 0;
  width: 250px; /* Adjusted width */
  border: 1px solid var(--text-color);
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  max-height: 300px; /* Set a maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  /* Scrollbar styling */
  scrollbar-width: thin;
  scrollbar-color: var(--text-color) var(--primary-background-color);
}

.notification-box {
  padding: 20px;
}

.notification-box h2 {
  margin-bottom: 10px;
  color: var(--text-color);
}

.notification-box ul {
  list-style-type: none;
  padding: 0;
}

.notification-box li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--secondary-background-color);
  font-size: 14px; /* Smaller text */
  position: relative; /* For positioning the dot and "x" button */
}

.notification-box li::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--text-color);
  border-radius: 50%;
}

.remove-notification {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}