.notification-box {
  padding: 20px;
}

.notification-box h2 {
  margin-bottom: 10px;
  color: var(--text-color);
}

.notification-box ul {
  list-style-type: none;
  padding: 0;
}

.notification-box li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--text-color);
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  font-size: 14px; /* Smaller text */
  position: relative; /* For positioning the dot and "x" button */
}

.notification-box li::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--text-color);
  border-radius: 50%;
}

.remove-notification {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}
