header {
  display: flex;
  background-color: var(--primary-background-color);
  color: var(--header-text-color);
  justify-content: space-between; /* Space between the logo and profile image */
  align-items: center; /* Vertically center all items in the header */
  padding: 10px;
}

.profile-link {
  display: flex;
  justify-content: center; /* Horizontally center the profile image within the link */
  align-items: center; /* Vertically center the profile image */
  text-decoration: none; /* Remove default underline from Link */
  height: 60px; /* Ensure the link is vertically aligned with the header */
}

.profile-link img {
  display: block; /* Prevent any space below the image */
}

.header-logo {
  flex-grow: 1; /* Allow the logo to take up remaining space */
}
